---
import AboutProfile from '@/components/about/AboutProfile.tsx';
import BaseLayout from '@/layouts/BaseLayout.astro';

const title = '关于';
const description = '王苏洋的个人主页';
---

<BaseLayout title={title} description={description}>
  <div class="max-w-xl mx-auto px-4 py-8 pb-24"><AboutProfile client:load /></div>
</BaseLayout>
